<section class="hero py-5">
    <div class=" row container mx-auto d-flex align-items-center justify-content-between">
        <div class="col">
            <h6 class="fs-5"><em>Are you hungry?</em></h6>
            <h1 class="display-4 fw-bold">Don't Wait!</h1>
            <button class="rounded-pill px-3 py-1 my-2 btn-primary">Order Now</button>
        </div>
        <div class="col">
            <img class="container-fluid" src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-4">
    <h3 class="fw-bold">All Pizzas</h3>
    <div class="row py-5">
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Margherita</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Small</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹250</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Marinara</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Medium</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹300</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Onion and Paneer</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Medium</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹300</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Veggie Delight</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Medium</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹450</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Farmhouse</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Large</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹650</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Paneer and Corn</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Medium</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹350</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>American Deluxe</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Large</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹550</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="container-fluid" src="/img/pizza.png" alt="">
            <div class="text-center mt-3">
                <h5>Veg Kebab Pizza</h5>
                <span class="mt-2 size text-uppercase rounded-pill px-2 py-1">Large</span>
                <div class="mt-3 d-flex justify-content-around">
                    <span class="fw-bold pt-1">₹700</span>
                    <button class="add-to-cart rounded-pill px-3 fw-bold">
                        <span>+</span>
                        <span class="ms-3" style="font-size: 1rem;">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>