@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialised;
    color: $dark; 
}
nav li:last-child a{
    background: $primary;
    &:hover{
        background:$primary-hover;
    }
    
}
a{
    color: $dark;
    text-decoration: none;
}
nav li a{
    color: $dark;
    &:hover{
        color:$primary;
    }
    transition: $smooth;
}

section.hero{
    background: $secondary;
}

.btn-primary{
    background: $primary;
    color:$pure;
    transition: $smooth;
    border: none;
    &:hover{
        background: $primary-hover;
    }
}

.add-to-cart {
    border: solid 2px $primary;
    color: $primary;
    background: none;
    transition: $smooth;
    &:hover{
        background: $primary;
        color: $pure;
    }
    &:focus{
        outline:none;
    }
}
.size{
    background: $secondary;
    font-size: 0.75rem;
}

section.cart{
    background: $secondary;
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);
    transition: $smooth;
    a{
        color: $primary;
        transition: $smooth;
        &:hover{
            color: $primary-hover;
        }
    }
    button:focus{
        outline:none;
        box-shadow: none;
    }
    input[type="email"]:focus{
        outline:none;
        box-shadow: none;
    }
}

.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}