<section class="status">
    <div class="container mx-auto">
        <div class="status-box mx-auto" style="width: 66.66667%;">
            <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 3rem;">
                <h1 style="font-size: 1.25rem;
                line-height: 1.75rem;" class="fw-bold">Track Delivery Status</h1>
                <h6 class="py-1 rounded-pill px-4" style="background: white; color: rgba(5, 150, 105, 1); font-size: 0.75rem;
                    line-height: 1rem;">
                    <%= order._id %>
                </h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order)  %> ">
            </div>
            <ul style="list-style-type: none;">
                <li class="status_line step-completed"
                    style="font-size: 1.25rem; line-height: 1.75rem; padding-bottom: 4rem;" data-status="order_placed">
                    <span>Order Placed</span>
                </li>
                <li class="status_line current" style="font-size: 1.25rem;line-height: 1.75rem; padding-bottom: 4rem;"
                    data-status="confirmed">
                    <span>Order Confirmed</span>
                </li>
                <li class="status_line" style="font-size: 1.25rem;line-height: 1.75rem; padding-bottom: 4rem;"
                    data-status="prepared">
                    <span>Preparation</span>
                </li>
                <li class="status_line" style="font-size: 1.25rem;line-height: 1.75rem; padding-bottom: 4rem;"
                    data-status="delivered"><span>Out
                        for delievery</span></li>
                <li class="status_line" style="font-size: 1.25rem;line-height: 1.75rem;" data-status="completed">
                    <span>Complete</span>
                </li>
            </ul>
        </div>
    </div>
</section>